body{
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9eee1;
}
html {
    scroll-behavior: smooth;
}
.navbar{
    background-color:#15202b ;
    margin: auto;
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 0;
    table-layout: fixed;
}
.navbar a {
    background-color:#15202b;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    padding: 10px;
}

.navbar a:hover {
    background-color: #262830;
}

.navbar a:active {
    background-color: #7289DA;
}

.desc{
    text-align: center;
    font-size: 16px;
}
.content {
    width: 100%;
    border-spacing: 0;
    text-align: center;
}
button{
    width:300px;
    height: 60px; 
    padding: 10px 20px;  
    margin-bottom: 35px;
    text-align: center;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color:white;
}
.green {
    background-color: #04aa6d;
}
.black {
    background-color: black;
}
.pink{
    background-color: #FFC0C7;
    color:black;
}
.left {
    width: 50%;
    padding: 0px;
}
.right {
    width: 50%;
    padding: 40px;
}
.head2{
    color: white;
    text-align: left;
    font-weight: 200;
    margin:10px;
    padding: 2px;
}
.css {
    width: 100%;
    border-spacing: 0;
    text-align: center;
    background-color: #FFF4A3;
}
.js {
    width: 100%;
    border-spacing: 0;
    text-align: center;
    background-color: #F3ECEA;
}